.header {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width:550px) {
  .header {
    width: 503px;
  }
}
@media (min-width:768px) {
  .header {
    width: 753px;
  }
}
@media (min-width:1024px) {
  .header {
    width: 1005px;
  }
}
@media (min-width:1240px) {
  .header {
    width: 1200px;
  }
}