.partners__title {
  margin: 70px auto 30px;
  width: 335px;
  font-size: 27px;
  line-height: 94%;
}
@media (min-width:550px) {
  .partners__title {
    width: 486px;
  }
}
@media (min-width:768px) {
  .partners__title {
    width: 729px;
    line-height: 150%;
    margin-bottom: 23px;
  }
}
@media (min-width:1024px) {
  .partners__title {
    width: 988px;
    font-size: 34px;
    line-height: 162%;
    margin-bottom: 16px;
  }
}
@media (min-width:1240px) {
  .partners__title {
    width: 1172px;
  }
}